<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Account name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>City</th>
                <th>Info</th>
                <th>Contact name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{account.accountName}}</td>
                <td>{{account.address}}</td>
                <td>{{account.phone}}</td>
                <td>{{account.fax}}</td>
                <td>{{account.city}}</td>
                <td>{{account.info}}</td>
                <td>{{account.contactName}}</td>
                <td>
                    <button class="btn btn-xs btn-default" (click)="add()">Add</button>
                    <button class="btn btn-xs btn-default">Edit</button>
                    <button class="btn btn-xs btn-default">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>