<div class="forum-group input-form">
    <h2>Edit Account</h2>
    <input class="form-control" [(ngModel)]="account.accountName" placeholder="Account name" />
    <input class="form-control" [(ngModel)]="account.address" placeholder="Address" />
    <input class="form-control" [(ngModel)]="account.phone" placeholder="Phone" />
    <input class="form-control" [(ngModel)]="account.fax" placeholder="Fax" />
    <input class="form-control" [(ngModel)]="account.city" placeholder="City" />
    <input class="form-control" [(ngModel)]="account.info" placeholder="Info" />
    <input class="form-control" [(ngModel)]="account.contactName" placeholder="Contact name" />
    <button class="btn btn-primary" (click)="submit()">Submit</button>
</div>